:root {
  --white_1: #fff;
  --light_1: #fffcf5;
  --gray_1: #f2f2f2;
  --gray_2: #d6d1cd;
  --gray_3: #a7a7a7;
  --gray_4: #a6a6a6;
  --gray_5: #828282;
  --gray_6: #777777;
  --gray_7: #666666;
  --gray_8: #444444;
  --leather_1: #e7dccc;
  --leather_2: #eee7db;
  --leather_3: #eae2d6;
  --orange_light: #f0ad4e;
  --orange_bold: #f59103;
  --pink_light: #d37c82;
  --red_1: #ff0000;
  --red_2: #db0000;
  --red_medium: #bf1e2e;
  --red_bold: #b50002;
  --red_dark: #940e11;
  --brown_bold: #74350a;
  --black_1: #191919;
  --black_2: #202020;
  --black_3: #000000;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
/* Header */
.header-left {
  cursor: pointer;
}
.header-left__img {
  width: 358px;
  height: 123px;
  overflow: hidden;
  flex-shrink: 0;
}
.header-left__img {
  transition: 0.3s ease-in-out;

  transform: scale(0.8);
}
.header-left:hover .header-left__img {
  transform: scale(1);
}

.header-right-list {
  list-style-type: none;
  font-size: 1.3rem;
}

.header-right__link {
  color: var(--red_medium);
  padding: 0 1rem;
}
.header-right__link:hover {
  color: var(--red_medium);
}
.header-right__item:first-of-type .header-right__link {
  color: var(--brown_bold);
}
.header-right__item:not(:last-of-type) .header-right__link {
  border-right: 1px solid #0000002b;
}

.header-right-center,
.header-right__bottom {
  margin-left: 1rem;
}

.header-right-center {
  border: 1.3px solid #ddd;
  margin-top: 0.5rem;
}
.header-right__search {
  outline: none;
  border: none;
  height: 4rem;
  padding: 0 1rem;
}
.header-right__btn {
  background: var(--orange_light);
  color: var(--white_1);
  width: 11.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 0;
  outline: none;
  border: none;
}
.header-right__bottom {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border: none;
}
/* Navigate */
.navigate-list {
  list-style: none;
  background: var(--red_bold);
  padding-right: 2rem;
  margin-bottom: 0;
}
.navigate-list__link,
.navigate-list__item {
  color: var(--white_1);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  position: relative;
  z-index: 1;
}
.navigate-list__link i {
  margin-top: 0.3rem;
}
.navigate-list__item > i {
  margin-top: 0.3rem;
}
.navigate-list__item:first-of-type {
  background: var(--red_dark);
  padding: 1rem;
  gap: 0 0.8rem;
}
.navigate-list__item:hover > .navigate-sublist {
  display: block;
}

.navigate-list__item:hover .navigate-list__link {
  color: var(--orange_light);
}
.navigate-sublist {
  position: absolute;
  background: rgb(231, 220, 204);
  width: 28rem;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
  display: none;
}
.navigate-sublist.navigate-sublist--simple {
  background: var(--white_1);
  width: 24rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 2px rgb(0 0 0 / 40%);
  border-top: 2px solid var(--orange_light);
}
.navigate-sublist.navigate-sublist--simple.navigate-sublist--reverse {
  left: -14.5rem;
}
.navigate-list__item:hover > .navigate-sublist--simple {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.navigate-sublist.navigate-sublist--right {
  left: 100%;
  top: 0;
}
.navigate-sublist__item {
  position: relative;
}
.navigate-sublist__item:hover .navigate-sublist.navigate-sublist--right {
  display: block;
}
.navigate-sublist__item:hover {
  background: var(--red_bold);
}
.navigate-sublist__link > i {
  transition: all 0.25s ease-in-out;
}
.navigate-sublist__item:hover > .navigate-sublist__link {
  color: var(--orange_light);
}
.navigate-sublist__item:hover .navigate-sublist__link > i {
  transform: rotate(-90deg);
}
.navigate-sublist__link {
  color: var(--red_2);
  font-weight: normal;
  padding: 0.7rem 1rem 0.7rem 1.4rem;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 22%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigate-sublist--simple .navigate-sublist__link {
  font-weight: bold;
  color: var(--black_1);
  padding: 0.3rem 1rem;
}
.navigate-sublist.navigate-sublist--simple > .navigate-sublist__item {
  border: none;
}
.navigate-sublist--simple > .navigate-sublist__item > .navigate-sublist__link {
  box-shadow: none;
}
.navigate-sublist__item:not(:last-of-type) {
  border-bottom: 1px solid var(--leather_2);
}
