$theme-colors: (
  hover_background: #bf1e2e,
  hover_color: #f0ad4e,
  white_1: #fff,
  light_1: #fffcf5,
  light_2: #f5f5f5,
  light_3: #f5f6fa,
  light_4: #efeef1,
  light_5: #f6f6f6,
  light_6: #ddd,
  gray_1: #f2f2f2,
  gray_2: #d6d1cd,
  gray_3: #a7a7a7,
  gray_4: #a6a6a6,
  gray_5: #828282,
  gray_6: #777777,
  gray_7: #666666,
  gray_8: #444444,
  gray_10: rgb(51, 51, 51),
  gray-9: #3333,
  leather_1: #e7dccc,
  leather_2: #eee7db,
  leather_3: #eae2d6,
  leather_4: rgb(231, 220, 204),
  orange_light: #f0ad4e,
  orange_bold: #f59103,
  orange_light1: rgb(218, 165, 32),
  pink_light: #d37c82,
  pink_1: #e87d88,
  red_main: #e03,
  red_1: #ff0000,
  red_2: #db0000,
  red_bold1: rgb(220, 20, 60),
  red_bold2: rgb(167, 22, 22),
  red_medium: #bf1e2e,
  red_bold: #b50002,
  red_dark: #940e11,
  red_dark1: #3c0006,
  brown_bold: #74350a,
  black_1: #191919,
  black_2: #202020,
  black_3: #000000,
  black_4: rgba(0, 0, 0, 0.1),
  blue_1: #0a2558,
  blue_2: #081d45,
  blue_3: #0d3073,
  blue_light: #2697ff,
  blue_light1: #8fdacb,
);
$breadcrumb-divider: quote(" » ");
@import "../../node_modules/bootstrap/scss//bootstrap.scss";
