/* Navigate Menu */

.navigation-menu__item {
  box-shadow: 0px 0 0px -3px rgb(0 0 0 / 12%);
  border-bottom: 0.2rem solid rgba(70, 15, 15, 40%);
  transition: 0.3s;
}

.navigation-menu__item:hover {
  border-bottom: #f0ad4e 0.5rem solid;
}

.navigation-menu__item:hover .navigation-menu__span {
  color: #f0ad4e;
}

.navigation-menu__item:hover .navigation-menu__link {
  transition: 0.3s;
}

.navigation-menu__link {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}

.navigation-menu__span {
  min-height: 3.8rem;
}

/* Mobile  bt*/
#navigate-list-collapse {
  cursor: pointer;
}

.navigate-list-mobile {
  background: var(--leather_2);
  list-style: none;
  padding: 0;
  width: 28rem;
  height: calc(100vh - 3.1rem);
  overflow: hidden;
  z-index: 3;
  transition: 0.3s ease-in-out;
  left: 0px;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.navigate-list-mobile.move {
  box-shadow: 0 100rem 0 100rem rgb(0 0 0 / 50%);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.navigate-list-mobile .navigate-list-mobile__item {
  box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 22%);
  border-bottom: 1px solid #eee7db;
  position: relative;
  padding: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.navigate-list-mobile .navigate-list-mobile__item .navigate-list-mobile__link {
  font-size: 1.6rem;
  font-family: "SegoeUI";
  color: rgb(148, 14, 17);
  font-weight: 700;
  padding: 0.8rem 1rem;
}

.shop-system--branch {
  color: black;
}

.shop-system--branch:hover {
  color: #f0ad4e;
}

.content {
  margin: 5rem 0;
}

.transform-scale-bigImg img {
  transition: 0.3s;
}

.transform-scale-bigImg:hover img {
  transform: scale(1.05);
}

.transform-scale img {
  transition: 0.3s;
}

.transform-scale:hover img {
  transform: scale(1.05);
}

.auto-border {
  border-top: 1px solid #333;
}
