/* Navigate Menu */

.navigation-menu__item {
    box-shadow: 0px 0 0px -3px rgb(0 0 0 / 12%);
    border-bottom: 0.2rem solid rgba(70, 15, 15, 40%);
    transition: 0.3s;
  }
  
  .navigation-menu__item:hover {
    border-bottom: #f0ad4e 0.5rem solid;
  }
  
  .navigation-menu__item:hover .navigation-menu__span {
    color: #f0ad4e;
  }
  
  .navigation-menu__item:hover .navigation-menu__link {
    transition: 0.3s;
  }
  
  .navigation-menu__link {
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .navigation-menu__span {
    min-height: 3.8rem;
  }

  .carousel-for__item img{
    border-radius: 1rem;
    position: relative;
  }

  .carousel-nav__item{
    width: 100%;
    margin: 1rem;
  }

  .carousel-nav__item img{
    border-radius: 1rem;
    max-height: 80%;
    max-width: 95%;
    margin: 1.6rem auto;
  }

  .carousel-nav .slick-arrow{
    position: absolute;
    top: -150%;
    z-index: 1;
  }

  .transform-scale-bigImg img {
    transition: 0.3s;
  }
  
  .transform-scale-bigImg:hover img {
    transform: scale(1.05);
  }
  
  .transform-scale img {
    transition: 0.3s;
  }
  
  .transform-scale:hover img {
    transform: scale(1.05);
  }
  
  .auto-border {
    border-top: 1px solid #333;
  }

  .item-label--goldenBackground {
    background: linear-gradient(
      0deg,
      rgba(192, 142, 40, 1) 0%,
      rgba(247, 236, 158, 1) 33%,
      rgba(192, 142, 40, 1) 67%,
      rgba(247, 236, 158, 1) 100%
    );
  }
  
  .item-label--redTextFeild {
    text-align: center;
    color: #f0ad4e;
    background-color: #bf1e2e;
  }

  .item-label--clipPath {
    clip-path: polygon(
      10px 0%,
      calc(100% - 10px) 0%,
      100% 10px,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      10px 100%,
      0% calc(100% - 10px),
      0% 10px
    );
  }