/* Grid Body */
.logo-header {
  width: 45px;
}

.item-img-container {
  width: 90%;
  height: 50%;
  align-items: center;
  overflow: hidden;
}

.item-img {
  width: 100%;
}

.special-banner {
  border: 3px goldenrod solid;
  color: goldenrod;
  width: 100%;
  min-height: 50px;
  background-color: rgb(167, 22, 22);
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 20%,
    100% 80%,
    96% 100%,
    4% 100%,
    0% 80%,
    0% 20%
  );
}

.item__img--hover {
  width: 100%;
  height: 282px;
  background-color: transparent;
  overflow: hidden;
}

.img-ani {
  height: 95%;
  width: 95%;
  object-fit: cover;
  transition: 0.3s;
}

.item__img--hover:hover .img-ani {
  transform: scale(1.1);
  cursor: pointer;
}

.item__tittle--hover:hover {
  color: crimson;
  cursor: pointer;
}

.item__btn {
  width: 40%;
  display: inline-block;
  border: goldenrod 2px solid;
  cursor: pointer;
  clip-path: polygon(
    5px 0%,
    calc(100% - 5px) 0%,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0% calc(100% - 5px),
    0% 5px
  );
}

.item__btn:hover .btn {
  color: crimson;
}

.item-label--goldenBackground {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
}

.item-label--redTextFeild {
  color: #f0ad4e;
  background-color: #bf1e2e;
}

.item-label--redTextFeild {
  color: #f0ad4e;
  background-color: #bf1e2e;
}

.item-label--goldTextFeild {
  color: white;
  background-color: #f0ad4e;
}

.item-label--clipPath {
  clip-path: polygon(
    10px 0%,
    calc(100% - 10px) 0%,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0% calc(100% - 10px),
    0% 10px
  );
}

.item-label--clipPathE {
  clip-path: polygon(
    0 0%,
    calc(100% - 10px) 0%,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%,
    0% calc(100% - 10px),
    0% 10px
  );
}

.item-btn--goldenBackground {
  padding: 0.15rem;
  padding-bottom: 0.35rem;
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  clip-path: polygon(
    5px 0%,
    calc(100% - 5px) 0%,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0% calc(100% - 5px),
    0% 5px
  );
}

.item-btn--textFeild {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray_7-rgb), var(--bs-text-opacity)) !important;
  background-color: var(--white_1);
  clip-path: polygon(
    5px 0%,
    calc(100% - 5px) 0%,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0% calc(100% - 5px),
    0% 5px
  );
}

.item-btn--textFeild:hover * {
  transition: none;
  color: crimson;
}

.category-item {
  color: var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 3rem;
  border: none;
}

.category-item:hover {
  cursor: pointer;
  color: #f0ad4e;
  background-color: #bf1e2e;
}

.transform-scale-bigImg img {
  transition: 0.3s;
}

.transform-scale-bigImg:hover img {
  transform: scale(1.09);
}

#introduce table,
#introduce tr,
#introduce td {
  border: 0.1rem solid var(--black_1);
  vertical-align: middle;
}

#introduce ::-webkit-scrollbar {
  width: 0.5rem;
}

#introduce ::-webkit-scrollbar-thumb {
  background-color: #bf1e2e;
}

#introduce ::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
}

#introduce ::-webkit-scrollbar-thumb:hover {
  background-color: #3c0006;
}
