#quantity {
  height: 4.1rem;
  width: 4.1rem;
  border: none;
  margin: 0 0.1rem;
  font-size: 2rem;
  text-align: center;
}
.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 4.1rem;
  height: 4.1rem;
  line-height: 3.8rem;
  background: var(--white_1);
  color: var(--gray-9);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.sl-sp {
  height: 4.5rem;
  padding: 0.2rem;
  margin-top: -0.8rem;
  width: 12.9rem;
}
.call-back {
  padding: 0.2rem;
  height: fit-content;
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  -webkit-clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}

.item-label--goldenBackground {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
}

.item-label--redTextFeild {
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.item-label--redTextFeild {
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.item-label--goldTextFeild {
  color: var(--white_1);
  background-color: var(--orange_light);
}

.item-label--clipPath {
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}

.item-label--clipPathE {
  clip-path: polygon(
    0 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    0 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}

.item-btn--goldenBackground {
  padding: 0.15rem;
  padding-bottom: 0.35rem;
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.item-btn--textFeild {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray_7-rgb), var(--bs-text-opacity)) !important;
  background-color: var(--white_1);
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.item-btn--textFeild:hover * {
  transition: none;
  color: var(--red_bold1);
}

.category-item {
  color: var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 3rem;
  border: none;
}

.category-item:hover {
  cursor: pointer;
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.category-img {
  background-color: rgb(231, 220, 204);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.category-btn--border {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
  width: 13.3rem;
  height: 4.4rem;
  padding: 0.1rem;
  margin: 5rem auto;
}

.category-btn--textField {
  color: var(--gray_7);
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(233, 221, 204) 0%,
    rgb(254, 246, 235) 100%
  );
  box-shadow: 0 0.2rem 0 0 rgb(172 141 98 / 50%);
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}
/* Collapse */
.coll-el {
  border: 0.1rem solid var(--red_dark);
  color: var(--red_dark);
}
.coll-el.collapsed {
  border: none;
  color: var(--black_3);
}
.coll-el:hover {
  border: 0.1rem solid var(--red_dark);
  color: var(--red_dark);
}
.coll-el.collapsed:hover {
  border: none;
  color: var(--black_3);
}
td.none {
  border: none;
}
#tab2 .card {
  background-image: url(../../img/detail-page/yeu-cau-goi-lai-3.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem 8.5rem;
}
.app-address {
  cursor: pointer;
}
.app-address.active {
  background-color: var(--red_dark);
  color: var(--orange_light);
}
