/* Header Carousel */
.header-carousel__item {
  width: 100%;
}

.header-carousel .slick-slide {
  position: relative;
}

.header-carousel .slick-dots {
  position: absolute;
  margin-top: -5rem;
  right: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style-type: none;
  transform: rotateY("-50%");
  transform: translateX(50%);
}

.header-carousel li {
  margin: 0 0.5rem;
}

.header-carousel button {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0;
  border: 0.1rem solid var(--orange_light);
  border-radius: 100%;
  background-color: var(--red_medium);
  text-indent: -999.9rem;
}

.header-carousel li.slick-active button {
  background-color: var(--orange_light);
}

/* Grid Body */
.logo-header {
  width: 4.5rem;
}

.item-img-container {
  width: 90%;
  height: 50%;
  align-items: center;
  overflow: hidden;
}

.item-img {
  width: 100%;
}

.special-banner {
  border: 0.3rem var(--orange_light1) solid;
  color: var(--orange_light1);
  width: 100%;
  min-height: 5rem;
  background-color: var(--red_bold2);
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 20%,
    100% 80%,
    96% 100%,
    4% 100%,
    0% 80%,
    0% 20%
  );
}

.item__img--hover {
  width: 100%;
  height: 28.2rem;
  background-color: transparent;
  overflow: hidden;
}

.img-ani {
  height: 95%;
  width: 95%;
  object-fit: cover;
  transition: 0.3s;
  max-height: 26rem;
}

.item__img--hover:hover .img-ani {
  transform: scale(1.1);
  cursor: pointer;
}

.item__tittle--hover:hover {
  color: var(--red_bold1);
  cursor: pointer;
}
.item__tittle--hover > b {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 1; /* Write the number of 
                              lines you want to be 
                              displayed */
  -webkit-box-orient: vertical;
}

.item__btn {
  width: 40%;
  display: inline-block;
  border: var(--orange_light1) 0.2rem solid;
  cursor: pointer;
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.item__btn:hover .btn {
  color: var(--red_bold1);
}

.item-label--goldenBackground {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
}

.item-label--redTextFeild {
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.item-label--redTextFeild {
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.item-label--goldTextFeild {
  color: var(--white_1);
  background-color: var(--orange_light);
}

.item-label--clipPath {
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}

.item-label--clipPathE {
  clip-path: polygon(
    0 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    0 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}

.item-btn--goldenBackground {
  padding: 0.15rem;
  padding-bottom: 0.35rem;
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.item-btn--textFeild {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray_7-rgb), var(--bs-text-opacity)) !important;
  background-color: var(--white_1);
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.item-btn--textFeild:hover * {
  transition: none;
  color: var(--red_bold1);
}

.category-item {
  color: var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 3rem;
  border: none;
}

.category-item:hover {
  cursor: pointer;
  color: var(--orange_light);
  background-color: var(--red_medium);
}

.category-img {
  background-color: var(--leather_4);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.category-btn--border {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
  width: 13.3rem;
  height: 4.4rem;
  padding: 0.1rem;
  margin: 5rem auto;
}

.category-btn--textField {
  color: #666;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(233, 221, 204) 0%,
    rgb(254, 246, 235) 100%
  );
  box-shadow: 0 0.2rem 0 0 rgb(172 141 98 / 50%);
  clip-path: polygon(
    0.5rem 0%,
    calc(100% - 0.5rem) 0%,
    100% 0.5rem,
    100% calc(100% - 0.5rem),
    calc(100% - 0.5rem) 100%,
    0.5rem 100%,
    0% calc(100% - 0.5rem),
    0% 0.5rem
  );
}

.transform-scale-bigImg img {
  transition: 0.3s;
}

.transform-scale-bigImg:hover img {
  transform: scale(1.09);
}

#introduce table,
#introduce tr,
#introduce td {
  border: 0.1rem solid var(--black_1);
  vertical-align: middle;
}

#introduce ::-webkit-scrollbar {
  width: 0.5rem;
}

#introduce ::-webkit-scrollbar-thumb {
  background-color: var(--red_medium);
}

#introduce ::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
}

#introduce ::-webkit-scrollbar-thumb:hover {
  background-color: var(--red_dark1);
}
.shop-system__img > a > img {
  max-height: 18rem;
}
.shop-system__img {
  width: 90%;
}

.shop-system__desc {
  font-size: 1.5rem;
}

.shop-system__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 2.5rem;
  max-height: 4rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.shop-system__desc {
  margin: auto 2rem;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 2.2rem;
  max-height: 4rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-golden {
  color: var(--orange_light);
}

.shop-system__btn {
  border: var(--red_medium) solid 0.2rem;
}

.shop-system__btn > a {
  color: var(--red_medium);
}

.blog-carousel__item:hover .blog-carousel__link {
  color: var(--red_medium);
}

.block-carousel__img {
  border-radius: 1.5rem;
  max-height: 80%;
  max-width: 95%;
  margin: 1.6rem auto;
}

.blog-carousel__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.2s;
}
/* template modal */
#quantity {
  height: 4.1rem;
  width: 4.1rem;
  border: none;
  margin: 0 0.1rem;
  font-size: 2rem;
  text-align: center;
}
.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 4.1rem;
  height: 4.1rem;
  line-height: 3.8rem;
  background: #fff;
  color: #333;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.kgin-sharp {
  -webkit-clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}
.kgin-sharp-no-right {
  -webkit-clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 0,
    100% calc(100% - 1rem),
    calc(100%) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 0,
    100% calc(100% - 1rem),
    calc(100%) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}
.kgin-sharp-no-left {
  -webkit-clip-path: polygon(
    0 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    0 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
  clip-path: polygon(
    0 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    0 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}
.sl-sp {
  height: 4.5rem;
  padding: 0.2rem;
  margin-top: -0.8rem;
  width: 12.9rem;
}
.call-back {
  padding: 0.2rem;
  background: linear-gradient(
    0deg,
    rgba(192, 142, 40, 1) 0%,
    rgba(247, 236, 158, 1) 33%,
    rgba(192, 142, 40, 1) 67%,
    rgba(247, 236, 158, 1) 100%
  );
  -webkit-clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
  clip-path: polygon(
    1rem 0%,
    calc(100% - 1rem) 0%,
    100% 1rem,
    100% calc(100% - 1rem),
    calc(100% - 1rem) 100%,
    1rem 100%,
    0% calc(100% - 1rem),
    0% 1rem
  );
}
